---
import config from "@/config/config.json";
import Docs from "@/layouts/Docs.astro";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";

const docs = await getSinglePage("docs");
const sortedPosts = sortByDate(docs);
const totalPages = Math.ceil(docs.length / config.settings.pagination_docs);
const currentPosts = sortedPosts.slice(0, config.settings.pagination_docs);
---

<Base title={"docs"}>
  <section class="section">
    <div class="container">
      <div class="flex items-center">
        <svg class="w-10 h-10 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/></svg>
      <h1 set:text={markdownify("Documentation")} class="text-center h2" />
      </div>
      <p class="p-5">
      Here you will find all the documentation related our organization and processes.
      </p>
      <Docs docs={currentPosts} />
      <Pagination section={"docs"} currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
