* {
  font-family: sans-serif;
  font-family: var(--font);
  max-width: 1920px;
  margin: auto;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}


.lead a {
  color: white;
}

.desc {
  font-size: 0.8rem;
}

.social a {
  color: var(--py-lady-pink);
}

.social a:hover {
  color: black;
}

.special-font {
  font-family: sans-serif;
  font-family: var(--special-font);
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  font-family: var(--title-font);
}

.menu-font {
  font-family: sans-serif;
  font-family: var(--special-font);
  text-decoration: none;
}

.pink {
  color: var(--py-lady-pink);
}

.icon-section {
  padding-bottom: 10px;
}

.gradient {
  background: var(
    --main-gradient,
    linear-gradient(
      -80.71deg,
      rgba(142, 112, 154, 1) 0%,
      rgba(229, 29, 65, 1) 100%
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-logo {
  width: 48px;
  height: 48px;
}

.hamburger-logo {
  width: 32px;
  height: 32px;
}

.hamburger-menu {
  width: 35px;
  height: 35px;
}

.bg-pink {
  background: var(--py-lady-pink);
}

.bg-white {
  background: white;
}

.btn-pink {
  background: var(--py-lady-pink);
  border-radius: 50px;
  border: 0;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: white;
  font-family: sans-serif;
  font-family: var(--special-font);
}

.no-font {
  font-family: sans-serif;
}

.btn-pink:hover {
  background: var(--main-gradient, linear-gradient(337deg, #8E709A 0%, #E51D41 100%));
}

.btn-pink-gradient {
  background: var(
    --main-gradient,
    linear-gradient(
      -80.71deg,
      rgba(142, 112, 154, 1) 0%,
      rgba(229, 29, 65, 1) 100%
    )
  );
  border-radius: 50px;
  border: 0;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: white;
  font-family: sans-serif;
  font-family: var(--special-font);
}

@media (max-width: 500px) {
  .btn-pink-gradient {
    font-size: 0.8em;
  }
  .display-6 {
    font-size: 1em;
  }
}

/* Adjusting keynote name */
@media (max-width: 900px) {
  h5 {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  h5 {
    font-size: 0.8rem;
  }
}

.btn-pink-gradient:hover {
  background: var(--black-gradient, linear-gradient(90deg, #E51D41 0%, #040404 100%));
}

/* Arrow up right */
.arrow-link {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  margin-right: 30px;
}

.arrow-link::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  background: url('../img/arrow-up-right.svg') no-repeat;
}

.arrow-link:hover {
  color: var(--py-lady-pink) !important;
  font-weight: bolder;
  text-decoration: underline;
}

.arrow-link:hover:after {
  background: url('../img/pink-arrow-up-right.svg') no-repeat;
  text-decoration: none;
  font-weight: bolder;
}

/* Arrow right */
.rarrow-link {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  margin-right: 30px;
}

.rarrow-link::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  background: url('../img/arrow-right.svg') no-repeat;
}

.rarrow-link:hover {
  color: var(--py-lady-pink) !important;
  font-weight: bolder;
  text-decoration: underline;
}

.rarrow-link:hover:after {
  background: url('../img/pink-arrow-right.svg') no-repeat;
  text-decoration: none;
  font-weight: bolder;
}

.rarrow-link-white {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  margin-right: 30px;
}

.rarrow-link-white::after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  background: url('../img/arrow-right-white.svg') no-repeat;
}

.rarrow-link-white:hover {
  color: black;
  text-decoration: underline;
  font-weight: bolder;
}

/* Background color dropdown */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: white;
  color: var(--py-lady-pink);
}
.nav > li > .dropdown-menu {
  background-color: var(--py-lady-pink);
}
.nav > li > .dropdown-menu a {
  color: white;
}

.nav > li > .dropdown-menu a:hover {
  color: black;
}

/* Accordion for CoC */
.accordion-btn {
   position: relative;
}
.accordion-btn:before {
   position: absolute;
   content: "+";
   right: 10px;
   top: 5px;
}
.accordion-btn[aria-expanded="true"]:before {
   content: "-";
}

.coc-button {
  text-align: left !important;
  background-color: white;
  color: black;
  border: 0;
  font-size: 1.5em;
}

.coc-button:hover, .coc-button:active {
  background-color: var(--py-lady-pink) !important;
  color: white;
}

@media (max-width: 500px) {
  .coc-button {
    font-size: 1em;
  }
}

.coc-text {
  background-color: var(--gray-3);
  color: black;
}

/* Carousel */

/* Fix glitch when changing carousel and displaying half of the next person */
.carousel-item-next {
  display: none;
}

.carousel-control-prev {
  margin-left: 0;
  padding-left: 0;
  width: 5%;
}

.carousel-control-next {
  margin-right: 0;
  padding-right: 0;
  width: 5%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/*
 * Custom translucent site header
 */

.site-header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,.8);
  background-color: white;
}
.site-header a {
  color: black;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: var(--py-lady-pink);
  text-decoration: none;
}

.title-size {
  font-size: 4em;
}

.title-size-2 {
  font-size: 2em;
}
@media (max-width: 500px) {
.title-size {
  font-size: 2em;
}
.title-size-2 {
  font-size: 1em;
}
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/* Sponsors table */
.table-pink{
  --bs-table-color:#fff;
  --bs-table-bg: var(--py-lady-pink);
  --bs-table-border-color:#373b3e;
  --bs-table-striped-bg:#2c3034;
  --bs-table-striped-color:#fff;
  --bs-table-active-bg:#373b3e;
  --bs-table-active-color:#fff;
  --bs-table-hover-bg:#323539;
  --bs-table-hover-color:#fff;
  color:var(--bs-table-color);
  border-color:var(--bs-table-border-color);
  /* fix col size */
  table-layout: fixed;
  word-wrap: break-word;
  /* for spacing between the table elements */
  border-spacing: 20px 0;
  border-collapse: separate;
}

.table-pink th, td {
  border-collapse: collapse;
  text-align: center;
  border-top: none;
  border-bottom: none;
}

.table-plan-header {
  background-color: #540d1b !important;
  color: var(--py-lady-pink) !important;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold !important;
  font-size: 1.4rem !important;
}

.table-plan-td {
  background-color: #a71b36 !important;
  border-top: 1px solid #a71b36;
}

/* Avatar row */
.avatar-row {
  /*display: flex; */
}
.avatar-row > * {
  width: 4rem;
  margin-left: -1rem;
  transform: scale(1.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.avatar-row > :first-child {
  margin-left: 0;
}

/* keynotes */
.card-keynote {
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  max-width: 1000px;
}

.card-keynote img {
  display: block;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-text {
  font-size: 90%;
}

.card-img-container {
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: var(--py-lady-pink);
  padding: 8px;
  width: 90%;
}

@media only screen and (max-width: 600px) {
  .card-keynote {
    flex-direction: column;
  }
  .card-keynote img {
    width: 100%;
  }
}

.card-keynote img {
  filter: sepia(100%) hue-rotate(190deg);/* saturate(500%); */
}

.card-keynote img:hover{
  filter: none;
  transition-duration: 0.3s;
}

.border-left {
    border-left: 5px solid white;
    padding: 5px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.w-60 {
  width: 60%;
}

/* For columns shortcodes */
.md-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;

  >div {
    flex: 1 1;
    margin: 1rem 0;
    min-width: 100px;
    max-width: 100%;
    padding: 0 1rem;
  }

  .markdown-inner {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.rowcolumn {
    display: table;
}

.column {
    padding: 20px;
}

.pinkcolumn {
    padding: 20px;
    background: var(--py-lady-pink);
    color: white;
}

[class*="column"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

/* Second column has background color */
.column:nth-child(2) {
  background: var(--py-lady-pink);
  color: white;
}

/* END: For columns shortcodes */

.pink-div {
  background: var(--py-lady-pink);
  color: white;
  padding: 20px;
}

.pink-div a {
  color: white;
}
