<footer class="container py-5">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-md-7 col-lg-auto text-center text-md-start">
      <img src="/img/logo_footer.png" />
      <small class="d-block mb-3 text-muted">
        2007 - 2024 PyLadies. All Rights Reserved.<br>
        Disclaimer - PyLadies and the PyLadies logo are trademarks of the Python Software Foundation
      </small>
    </div>
    <div class="col-md-5 col-lg-auto text-center text-md-start">
      <a class="arrow-link" href="/about/#code-of-conduct">Code of Conduct</a>
      <a class="arrow-link" href="https://pyladies.com/">PyLadies</a>
      <a class="arrow-link" href="https://www.python.org/psf-landing/">PSF</a>
      <a class="arrow-link" href="https://python.org">Python</a>
      <div class="social pt-3">
        <a href="mailto:pyladiescon@pyladies.com"><img class="social-icon" src="/img/icons/envelope.svg" /></a>
        <a href="https://fosstodon.org/@pyladiescon"><img class="social-icon" src="/img/icons/mastodon.svg" /></a>
        <a href="https://bsky.app/profile/pyladiescon.bsky.social"><img class="social-icon" src="/img/icons/bluesky.svg" /></a>
        <a href="https://instagram.com/pyladiescon"><img class="social-icon" src="/img/icons/instagram.svg" /></a>
        <a href="https://www.linkedin.com/company/pyladiescon"><img class="social-icon" src="/img/icons/linkedin.svg" /></a>
        <a href="https://twitter.com/pyladiescon"><img class="social-icon" src="/img/icons/x.svg" /></a>
        <a href="https://www.youtube.com/@PyLadiesGlobal"><img class="social-icon" src="/img/icons/youtube.svg" /></a>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7 col-sm-6 col-lg-3">
        <a href="https://www.awesomic.com"><img class="img-fluid" src="/img/awesomic-white.gif"/></a>
      </div>
    </div>
  </div>
</footer>
