<h2>Stay up to date</h2>
<p>Get news about PyLadiesCon by following us on social media (<a href="https://fosstodon.org/@pyladiescon">Mastodon</a>,
    <a href="https://bsky.app/profile/pyladiescon.bsky.social">Bluesky</a>,
    <a href="https://instagram.com/pyladiescon">Instagram</a>,
    and <a href="https://www.linkedin.com/company/pyladiescon">LinkedIn</a>,
    <a href="https://twitter.com/pyladiescon">Twitter/X</a>),
    <a href="https://www.youtube.com/@PyLadiesGlobal">Youtube</a>,
    and subscribing to our <a href="https://conference.pyladies.com/index.xml">RSS Feed</a>.
</p>
