    <div class="table-responsive" id="plans">
      <table class="table-pink">
        <thead>
          <tr>
            <th scope="col" class="text-end"><h5 class="special-font">Type of Position</h5></th>
            <th scope="col" class="table-plan-header">Percentage</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <th scope="row" class="text-end col-sm-2">Development/Coding</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">42.6%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Data Science/AI</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">19.5%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Student</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">9.6%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Community/OSS</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">8.8%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Management</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">6.6%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Sciences</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">4.8%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Consulting/Freelance</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">4.4%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">DevRel</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">2.6%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Security</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">2.2%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Academia</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">1.5%</p></td>
           </tr>       
           <tr>
            <th scope="row" class="text-end col-sm-2">Other</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">1.5%</p></td>
           </tr>
        </tbody>
      </table>
    </div>
