<div class="table-responsive" id="plans">
      <table class="table-pink">
        <thead>
          <tr>
            <th scope="col" class="text-end"><h5 class="special-font">Levels</h5></th>
            <th scope="col" class="table-plan-header">Champion</th>
            <th scope="col" class="table-plan-header">Supporter</th>
            <th scope="col" class="table-plan-header">Booster </th>
            <th scope="col" class="table-plan-header">Partner</th>
            <th scope="col" class="table-plan-header">Individual*</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-end col-sm-2">Amount</th>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">$ 10,000</p></td>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">$ 5,000</p></td>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">$ 1,000</p></td>
            <td class="table-plan-td"><p style="font-size: 1.5rem;">$ 500</p></td>
            <td class="table-plan-td"><span style="font-size: 1.5rem;">$ 50</span> or more.<p>(* contribution at ticket registration)</p></td>
          </tr>
          <tr>
            <th scope="row" class="text-end col-sm-2">Name listed on PyLadies Global Con website</th>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
          </tr>
          <tr>
            <th scope="row" class="text-end col-sm-2">Logo on website</th>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"></td>
          </tr>
          <tr>
            <th scope="row" class="text-end col-sm-2">Call out in conference open &amp; closing<p class="desc">A shout out in the main feed by the conference organizers.</p></th>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"><p style="font-size: 1.7rem;">✓</p></td>
            <td class="table-plan-td"></td>
            <td class="table-plan-td"></td>
            <td class="table-plan-td"></td>
          </tr>
          <tr>
            <th scope="row" class="text-end col-sm-2">LinkedIn posts</th>
            <td class="table-plan-td">4 dedicated</td>
            <td class="table-plan-td">2 dedicated</td>
            <td class="table-plan-td text-nowrap">1 dedicated</td>
            <td class="table-plan-td">1 shared</td>
            <td class="table-plan-td"></td>
          </tr>
          <tr>
            <th scope="row" class="text-end col-sm-2">Dedicated Hubilo virtual booth</th>
            <td class="table-plan-td">Large</td>
            <td class="table-plan-td">Medium</td>
            <td class="table-plan-td">Small</td>
            <td class="table-plan-td"></td>
            <td class="table-plan-td"></td>
          </tr>
          <tr>
            <th scope="row" class="text-end col-sm-2">Logo/info slide shown <p>A slide of your choice to be displayed on rotation during the event</p></th>
            <td class="table-plan-td">Between talks and between timezone segments</td>
            <td class="table-plan-td">Intermissions between timezone segments</td>
            <td class="table-plan-td"></td>
            <td class="table-plan-td"></td>
            <td class="table-plan-td"></td>
          </tr>
          <tr>
            <th scope="row" class="text-end col-sm-2">Promotional video shown<p>2 minutes</p></th>
            <td class="table-plan-td">2 times each day</td>
            <td class="table-plan-td">1 time during conference</td>
            <td class="table-plan-td"></td>
            <td class="table-plan-td"></td>
            <td class="table-plan-td"></td>
          </tr>
        </tbody>
      </table>

      <p>
        PyLadies is a direct project of the Python Software Foundation (“the
        PSF”). In addition to tax deductibility as a marketing expense for our
        sponsors, any applicable benefits of the PSF’s 501(c)3 designation from
        the IRS also may apply. Determination letter from the IRS designating
        the PSF as a charitable organization available from the PSF website.
      </p>
    </div>
