<footer class="container py-5">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-md-7 col-lg-auto text-center text-md-start">
      <img src="img/logo_footer.png" />
      <small class="d-block mb-3 text-muted">
        2007 - 2023 PyLadies. All Rights Reserved.<br>
        Disclaimer - PyLadies and the PyLadies logo are trademarks of the Python Software Foundation
      </small>
    </div>
    <div class="col-md-5 col-lg-auto text-center text-md-start">
      <a class="arrow-link" href="https://pyladies.com/">PyLadies</a>
      <a class="arrow-link" href="https://www.python.org/psf-landing/">PSF</a>
      <a class="arrow-link" href="https://python.org">Python</a>
      <div class="social pt-3">
        <a href="mailto:pyladiescon@pyladies.com"><i class="fas fa-envelope fa-2x px-2"></i></a>
        <a href="https://fosstodon.org/@pyladiescon"><i class="fab fa-mastodon fa-2x px-2"></i></a>
        <a href="https://twitter.com/pyladiescon"><i class="fab fa-twitter fa-2x px-2"></i></a>
        <a href="https://instagram.com/pyladiescon"><i class="fab fa-instagram fa-2x px-2"></i></a>
        <a href="https://www.linkedin.com/company/pyladiescon"><i class="fab fa-linkedin fa-2x px-2"></i></a>
      </div>
    </div>
    <div class="col-12 text-center">
      <a href="https://www.awesomic.com"><img style="max-height: 7rem" src="img/awesomic-white.gif"/></a>
    </div>
  </div>
</footer>
