<header class="site-header sticky-top py-1">
  <nav class="navbar navbar-expand-lg navbar-light d-flex flex-row justify-content-around align-items-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img class="hamburger-logo" src="img/bar-chart-2.png"/>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <a href="index.html" aria-label="PyLadiesCon">
          <img class="menu-logo" src="img/icon.png"/>
        </a>
        <li class="nav-item dropdown px-4">
          <a class="nav-link dropdown-toggle menu-font" data-toggle="dropdown" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">About</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="about.html#the-event">The Event</a>
            <a class="dropdown-item" href="about.html#the-organizers">The Organizers</a>
            <a class="dropdown-item" href="about.html#coc">Code of Conduct</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="py-2 d-none d-md-inline-block menu-font" href="speakers.html">Speakers</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="py-2 d-none d-md-inline-block menu-font" href="#">Schedule</a>
        </li>
        -->
        <li class="nav-item px-4">
          <a class="py-2 d-flex d-inline-block menu-font" href="sponsors.html">Sponsor</a>
        </li>
        <li class="nav-item px-4">
          <a class="py-2 d-flex d-inline-block menu-font" href="https://pretalx.com/pyladiescon-2023/cfp">Call for Proposals</a>
        </li>
        <li class="nav-item px-4">
          <a class="py-2 d-flex d-inline-block menu-font" href="index.html#contact">Contact</a>
        </li>
        <div class="text-end px-4">
            <a class="btn btn-outline-secondary btn-pink text-white" href="https://events.hubilo.com/pyladiescon2023/register">Register</a>
        </div>
      </ul>
    </div>
  </nav>
</header>
