<header class="site-header sticky-top py-1">
  <ul class="nav nav-pills container d-flex flex-column col-xs-12 flex-md-row justify-content-around align-items-center">
    <a class="py-2" href="index.html" aria-label="PyLadiesCon">
      <img class="menu-logo" src="img/icon.png"/>
    </a>
    <li class="nav-item dropdown order-4 order-sm-1">
      <a class="nav-link dropdown-toggle menu-font" data-toggle="dropdown" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">About</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="about.html#the-event">The Event</a>
        <a class="dropdown-item" href="about.html#the-organizers">The Organizers</a>
        <a class="dropdown-item" href="about.html#coc">Code of Conduct</a>
      </div>
    </li>
    <!--
    <li class="nav-item">
      <a class="py-2 d-none d-md-inline-block menu-font" href="#">Speakers</a>
    </li>
    <li class="nav-item">
      <a class="py-2 d-none d-md-inline-block menu-font" href="#">Schedule</a>
    </li>
    -->
    <li class="nav-item order-1 order-sm-2">
      <a class="py-2 f-flex d-md-inline-block menu-font" href="sponsors.html">Sponsor</a>
    </li>
    <li class="nav-item order-2 order-sm-3">
      <a class="py-2 d-flex d-md-inline-block menu-font" href="https://pretalx.com/pyladiescon-2023/cfp">Call for Proposals</a>
    </li>
    <li class="nav-item order-3 order-sm-4">
      <a class="py-2 d-flex d-md-inline-block menu-font" href="index.html#contact">Contact</a>
    </li>
    <!--
    <div class="text-end">
        <a class="btn btn-outline-secondary btn-pink text-white" href="">Register</a>
    </div>
    -->
  </ul>
</header>
