<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body>

  {% include 'header.html' %}

<main>

  <!-- cover -->
  <div class="position-relative overflow-hidden p-1 p-md-3 m-md-1 text-center bg-white">
    <div class="d-md-flex flex-md-equal w-75 my-md-3 mx-auto align-items-center">
      <div class="col-md-5 p-lg-1 mx-auto my-5">
        <img style="width: 60%;" src="img/banner.png" />
      </div>
      <div class="col-md-5 p-lg-3 mx-auto my-5">
        <blockquote class="blockquote text-center">
          <p>
            <i class="fas fa-quote-left fa-xs pink"></i>
            <span>The more I study, the more insatiable do I feel my genius for it to be.</span>
            <i class="fas fa-quote-right fa-xs pink"></i>
          </p>
          <footer class="blockquote-footer">Ada Lovelace</footer>
        </blockquote>
        <h1 class="pink display-4 fw-normal">PyLadiesCon</h1>
        <h4 class="gradient special-font">2023 Online</h4>
        <p class="lead fw-normal">
          1-3 Dec | Multi-language | Multi-timezone
        </p>
        <div class="w-50 mx-auto">
          <h4 style="font-size: 90%; font-weight: bold;">⚠️ The Call for Proposal is closed</h4>
        </div>
        <div class="social w-50 mx-auto pt-3">
          <a href="https://fosstodon.org/@pyladiescon"><i class="fab fa-mastodon fa-2x px-2"></i></a>
          <a href="https://twitter.com/pyladiescon"><i class="fab fa-twitter fa-2x px-2"></i></a>
          <a href="https://instagram.com/pyladiescon"><i class="fab fa-instagram fa-2x px-2"></i></a>
          <a href="https://www.linkedin.com/company/pyladiescon"><i class="fab fa-linkedin fa-2x px-2"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 py-3 px-3 py-md-5 px-md-5 overflow-hidden">
      <div class="my-3 py-3 px-5">
        <img class="icon-section" src="img/about-icon.png"/>
        <h3 class="display-6 special-font pink">About the conference</h2>
        <p class="lead">
          Attention all PyLadies community members! We’re excited
          to share that we are in the early stages of planning a PyLadies
          Conference (PyLadiesCon), a transformative event designed to promote
          diversity, learning, and empowerment within the Python community.
          🎉
        </p>
        <p class="lead">
          Save the date! The conference will take place on the first weekend
          of December, where we’ll gather together for a weekend filled with
          insightful talks, engaging panels, and collaborative networking
          opportunities.
        </p>
        <p class="lead">
          <a class="rarrow-link text-black" href="#">Read More</a>
        </p>
        <p class="lead">
          <a class="rarrow-link text-black" href="about.html#coc">Code of Conduct</a>
        </p>
      </div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-pink me-md-3 py-3 px-3 py-md-5 px-md-5 text-white overflow-hidden">
      <div class="my-3 py-3 px-5">
        <img class="icon-section" src="img/speakers-icon.png"/>
        <h3 class="display-6 special-font">Keynotes</h3>
          <div class="row text-center justify-content-around">
            {% for keynote in KEYNOTES %}
            <div class="col-12 col-xl-6 d-flex">
              <div class="card card-keynote my-3 bg-opacity-50">
                <div class="card-img-container w-100">
                  <img src="{{ keynote['photo'] }}" class="card-img-top" alt="{{ keynote['name'] }} Photo">
                  <h5 class="bottom-right text-white">{{ keynote['name'] }}</h5>
                </div>
                <div class="card-body w-100">
                  <p class="card-text text-start">{{ '.'.join(keynote['bio'].split('.')[:2]) }}.</p>
                  <div class="social">
                    {% if keynote['mastodon'] %}
                    {% set username = keynote['mastodon'].split('@')[0] %}
                    {% set domain = keynote['mastodon'].split('@')[1] %}
                    <a href="https://{{ domain }}/@{{ username }}"><i class="fab fa-mastodon px-2"></i></a>
                    {% endif %}
                    {% if keynote['twitter'] %}
                    <a href="https://twitter.com/{{ keynote['twitter'] }}"><i class="fab fa-twitter px-2"></i></a>
                    {% endif %}
                    {% if keynote['instagram'] %}
                    <a href="https://instagram.com/{{ keynote['instagram'] }}"><i class="fab fa-instagram px-2"></i></a>
                    {% endif %}
                    {% if keynote['linkedin'] %}
                    <a href="https://www.linkedin.com/in/{{ keynote['linkedin'] }}"><i class="fab fa-linkedin px-2"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% if SPEAKERS_ENABLED %}
        <h2 class="dispaly-6 special-font mb-5">The Speakers</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 mb-3">
          {% set CUTOFF = 4 %}
          {% set socials = ("LinkedIn", "Twitter", "Mastodon", "Instagram") %}
          {% for speaker in SPEAKERS[:CUTOFF] %}
            <div class="col mb-3">
              <div class="row">
                <div class="col-5">
                  {% if speaker['Photo'] %}
                  <img src="{{ speaker["Photo"] }}" alt="{{ speaker["Name"] }}" class="rounded-circle img-fluid">
                  {% else %}
                  <img src="img/speakers/default.png" alt="{{ speaker["Name"] }}" class="rounded-circle img-fluid">
                  {% endif %}
                </div>
                <div class="col-7 my-auto">
                  <strong class="fs-5">{{ speaker["Name"] }}</strong>
                  <!--<p>{{ speaker["Title"] }} ({{ speaker["Pronouns"] }})</p>-->
                  <p>
                    {%- for social in socials -%}
                      {%- if speaker[social] -%}
                        {% if social == "Mastodon" %}
                        {% set username = speaker[social].split('@')[1] %}
                        {% set domain = speaker[social].split('@')[2] %}
                        {% set url = "https://" + domain + "/@" + username %}
                        {% elif social == "Twitter" %}
                        {% set url = "https://twitter.com/" + speaker[social] %}
                        {% elif social == "Instagram" %}
                        {% set url = "https://instagram.com/" + speaker[social] %}
                        {% elif social == "LinkedIn" %}
                        {% set url = speaker[social] %}
                        {% endif %}
                      <a href="{{ url }}" class="text-white text-decoration-none">
                        <i class="fab fa-{{ social|lower }} fa-lg px-2" aria-hidden="true"></i>
                        <span class="visually-hidden">{{ social }}</span>
                      </a>
                      {%- endif -%}
                    {%- endfor -%}
                  </p>
                </div>
                <div class="col-12">
                  {% if speaker['Biography'] %}
                  <p class="mt-2 border-left">{{ '.'.join(speaker["Biography"].split(".")[:2]) }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if (SPEAKERS|length - CUTOFF) > 0 %}
        <p>and {{ SPEAKERS|length - CUTOFF }} more!</p>
        <div class="avatar-row mb-4">
          {% for speaker in SPEAKERS[CUTOFF:] %}
             {% if speaker['Photo'] %}
             <img src="{{ speaker['Photo'] }}" alt="{{ speaker['Name'] }}" class="rounded-circle">
             {% else %}
             <img src="img/speakers/default.png" alt="{{ speaker['Name'] }}" class="rounded-circle">
             {% endif %}
          {% endfor %}
        </div>
        <p>
          <a class="fs-5 text-decoration-none text-white" href="speakers.html">
            Meet All The Speakers <i class="fas fa-arrow-right"></i>
          </a>
        </p>
        {% else %}
        <p>more speakers to be announced!</p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <!-- registration details -->
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 py-3 px-3 py-md-5 px-md-5 overflow-hidden">
      <div class="my-3 py-3 px-5">
        <img class="icon-section" src="img/details-icon.png"/>
        <h3 class="display-6 special-font pink">Join us!</h2>
        <p class="lead">
          Be a part of our conference!
        </p>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

        <div class="col d-flex align-items-stretch">
          <div class="card mb-4 rounded-3 shadow-sm bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title special-font">Be a Volunteer</h5>
              Join us in shaping this remarkable event that aims to empower
              women in the Python community and beyond. Your involvement will
              make a difference and provide invaluable networking opportunities
              and personal growth.
            </div>
          </div>
        </div>

        <div class="col d-flex align-items-stretch">
          <div class="card mb-4 rounded-3 shadow-sm bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title special-font">Make a difference!</h5>
              Join the spirit of the PyLadies community, which promotes
              diversity and inclusion in the Python programming language
              community.
            </div>
          </div>
        </div>

        <div class="col d-flex align-items-stretch">
          <div class="card mb-4 rounded-3 shadow-sm bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title special-font">Meet PyLadies from all over the world</h5>
              Join us in shaping this remarkable event that aims to empower
              women in the Python community and beyond. Your involvement will
              make a difference and provide invaluable networking opportunities
              and personal growth.
            </div>
          </div>
        </div>

      </div>
     </div>
   </div>
 </div>

 <!-- sponsors section -->
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 py-3 px-3 py-md-5 px-md-5 overflow-hidden">
      <div class="my-3 py-3 px-5">
        <img class="icon-section" src="img/sponsors-icon.png"/>
        <h3 class="display-6 special-font pink">Sponsors</h3>
        <p class="lead">
          Know the sponsors of our conference.
        </p>
        <!-- TODO: Add the other levels -->
        {% if SPONSORS['Supporter'] %}
        <h4 class="special-font pink">Supporter</h4>
        <div class="row row-cols-2 text-center align-items-center">
          {% for sponsor in SPONSORS['Supporter'] %}
          <div class="col d-flex align-items-center">
            <a href="{{ sponsor['url'] }}">
              <img class="w-60" src="img/sponsors/{{ sponsor['image']}}" alt="{{ sponsor['name'] }} logo" />
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if SPONSORS['Translation'] %}
        <h4 class="special-font pink">Translation</h4>
        <div class="row row-cols-2 text-center align-items-center">
          {% for sponsor in SPONSORS['Translation'] %}
          <div class="col d-flex align-items-center">
            <a href="{{ sponsor['url'] }}">
              <img class="w-60" src="img/sponsors/{{ sponsor['image']}}" alt="{{ sponsor['name'] }} logo" />
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if SPONSORS['Booster'] %}
        <h4 class="special-font pink">Booster</h4>
        <div class="row row-cols-3 text-center align-items-center">
          {% for sponsor in SPONSORS['Booster'] %}
          <div class="col d-flex align-items-center">
            <a href="{{ sponsor['url'] }}">
              <img class="w-50" src="img/sponsors/{{ sponsor['image']}}" alt="{{ sponsor['name'] }} logo" />
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if SPONSORS['Partner'] %}
        <h4 class="special-font pink">Partner</h4>
        <div class="mt-5 mb-5 row row-cols-4 text-center align-items-center">
          {% for sponsor in SPONSORS['Partner'] %}
          <div class="col d-flex align-items-center">
            <a href="{{ sponsor['url'] }}">
              <img class="w-50" src="img/sponsors/{{ sponsor['image']}}" alt="{{ sponsor['name'] }} logo" />
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if SPONSORS['Community'] %}
        <h4 class="special-font pink">Community</h4>
        <div class="row row-cols-6 text-center align-items-center">
          {% for sponsor in SPONSORS['Community'] %}
          <div class="col d-flex align-items-center">
            <a href="{{ sponsor['url'] }}">
              <img class="w-50" src="img/sponsors/{{ sponsor['image']}}" alt="{{ sponsor['name'] }} logo" />
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        {% if SPONSORS['Special'] %}
        <h4 class="special-font pink mt-5">Special Contributions</h4>
        <div class="row row-cols-6 text-center align-items-center">
          {% for sponsor in SPONSORS['Special'] %}
          <div class="col d-flex align-items-center">
            <a href="{{ sponsor['url'] }}">
              <img class="w-50" src="img/sponsors/{{ sponsor['image']}}" alt="{{ sponsor['name'] }} logo" />
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <h4 class="special-font pink mt-5">Individual Contributions</h4>
        <div class="row row-cols-6 text-center align-items-center">

          <div class="col d-flex align-items-center">
            <h4>Adric Net</h4>
          </div>
          <div class="col d-flex align-items-center">
            <h4>Parinaz Vahabzadeh</h4>
          </div>
          <div class="col d-flex align-items-center">
            <h4>Andres Pineda</h4>
          </div>
          <div class="col d-flex align-items-center">
            <h4>Victoria Kulbago</h4>
          </div>

        </div>
      </div>
     </div>
   </div>
 </div>

  <!-- contact -->
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" id="contact">
    <div class="bg-pink me-md-3 py-3 px-3 py-md-5 px-md-5 text-white overflow-hidden">
      <div class="my-3 py-3 px-5">
        <img class="icon-section" src="img/contact-icon.png"/>
        <h2 class="display-5">Contact</h2>
        <p class="lead">
          Email us at
          <a href="mailto:pyladiescon@pyladies.com">pyladiescon@pyladies.com</a>
        </p>
        <p class="lead">
          Follow us on <a href="https://twitter.com/pyladiescon">Twitter</a>
        </p>
        <p class="lead">
          To connect with other PyLadies members through Slack, join
          <a href="https://slackin.pyladies.com">slackin.pyladies.com</a>
          and sign up for the chapter channel closest to
          your town.
        </p>
        <p class="lead">
        Check out this
        <a href="https://reshamas.github.io/the-hidden-depth-of-pyladies/">dashboard</a>
        for finding your closest chapter!
        </p>
        <p class="lead">
          If you would like to donate to us, you can donate on
          <a href="https://psfmember.org/civicrm/contribute/transact/?reset=1&id=6">this page</a>!
        </p>
        <p class="lead">
          Yes, donations are to a 501c3 and are therefore tax deductible within
          the United States of America.
        </p>
      </div>
    </div>
  </div>

</main>

{% include 'footer.html' %}

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>

