---
import { markdownify } from "@/lib/utils/textConverter";
import { render } from "astro:content";
import TableOfContents from "@/layouts/components/TableOfContents.astro";
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";

type Props = {
  doc: CollectionEntry<"docs">;
  headings: MarkdownHeading[];
};

const { doc, headings } = Astro.props as Props;
const { title, meta_title, description } = doc.data;
const { Content } = await render(doc);
---

<section class="section">
  <div class="container">
    <h1 set:html={markdownify(title)} class="page-heading-docs h2 mb-8" />
    <TableOfContents headings={headings} />
    <div class="content">
      <Content />
    </div>
  </div>
</section>
